#pantalla_exportar{
	text-align: center;
}

#pantalla_exportar
#btn_exportar{
	border-bottom: solid 2px rgb(150, 150, 150);
	border-top: solid 2px rgb(220, 220, 220);
	border-left: solid 2px rgb(220, 220, 220);
	border-right: solid 2px rgb(150, 150, 150);
	
	background-color: rgb(200, 200, 200);
	
	position: absolute;
	width: 120px;
	height: 30px;
	margin-left: -60px;
	left: 50%;
	bottom: 25px;
	padding-top: 15px;
}


#pantalla_exportar
#fileName_container{
	
	border: solid 1px rgb(190, 169, 147);
	background-color: rgb(252, 222, 147);
	
	position: absolute;
	height: 25px;
	left: 25px;
	right: 25px;
	top: 30%;
}

#pantalla_exportar
#fileName{
	border: transparent;
	background-color: transparent;
	height: 100%;
	width: 100%;
	
}
