#toolbar{
	z-index: 1;
	position: absolute;
	left:0px;
	right:0px;
	top:0px;
	height:25px;
	
	background-color: rgb(246, 178, 107);
}


#toolbar
div.toolbar_button{
	position: absolute;
	
	top: 0px;
	height: 25px;
	width: 25px;
}

#toolbar
#options{
	right: 0px;
}

#toolbar
#share{
	right: 25px;
}


#toolbar
#options_list{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 90px;
	
	display: none;
	
	background-color: rgb(200, 200, 200);
	
}

#toolbar
#options_list
div.link_pantalla{
	border: solid 1px;
	
	font-size: 9px;
	padding: 6px 1px 5px 5px;
	
	border-color: rgb(100,100,100);
}

#toolbar
div.selected{
	background-color: rgb(255,255,255);
	color: rgb(100,100,100);
}