#toolbar{
	z-index: 1;
	position: absolute;
	left:0px;
	right:0px;
	top:0px;
	height:40px;
	
	background-color: rgb(246, 178, 107);
}


.toolbar_button{
	position: absolute;
	
	top: 0px;
	height: 40px;
	width: 40px;
}

.custom_toolbar{
	position: fixed;
	top:0px;
	right: 40px;
	left: 85px;
	height:40px;
	z-index:2;
}


#toolbar
#options{
	right: 0px;
	background:url(img/options.png) no-repeat center center;
}



#toolbar
#options_list{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 120px;
	
	display: none;
	
	background-color: rgb(200, 200, 200);
}

#toolbar
#options_list
div.link_pantalla{
	border: solid 1px;
	
	font-size: 12px;
	padding: 6px 1px 5px 5px;
	
	border-color: rgb(100,100,100);
}

#toolbar
div.selected{
	background-color: rgb(255,255,255);
	color: rgb(100,100,100);
}