#pantalla_instrumentos{
	text-align: center;
	padding-top: 50px;
}

#pantalla_instrumentos
div.btn_agregar{
	font-size: 36px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 18px;
    right: 25px;
    cursor: pointer;
}


#pantalla_instrumentos
#codigo_istrumento_container{
	
	left: 25px;
	right: 60px;
	top: 25px;
}


#pantalla_instrumentos
#lista_instrumentos{
	position:absolute;
	top: 75px;
}